
#formulario{
    background: rgba(180, 179, 179, 0.397);
    padding: 40px;
    
}


.form-titulo{
    background: rgba(255, 108, 49, 0.541);
    font-family: cursive;
    padding: 20px;
    text-align: center;
    border-bottom: solid 2px rgb(255, 255, 255);
    color: white;
    /* esquina superior izquiera - ESD - INFD -INFI*/
    border-radius: 8px 8px 0px 0px ;
}

.form-registro{
    background:rgba(157, 187, 250, 0.541);
    width:95% ;
    margin: auto;
    max-width: 500px;
    border-radius: 8px;
}


.contenedor-input{
    /* arriba y bajo - al lado */
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    /* justifica los espacios a los costadosb  */
    justify-content: space-between;

}


input{
padding: 10px;
margin-bottom: 10px;

}


/* creacion de columnas tipo bootstrap */

.col-sm{
    width: 40%;

}

.col-xl{
    width: 100%;
}

/* **************************** */

.btn-registro{
    background-color:  rgba(255, 108, 49, 0.541);
    border-radius: 7px;
    margin: auto;
    cursor: pointer;
    
      
}